# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
.eslintcache
docs/

# Local env files
.env
.env.*
!.env.example

# Database SQL files (generated/imported)
server/database/sql/*.sql
!server/database/sql/1.rls-policies.sql
!server/database/sql/2.category-hierarchies.sql
!server/database/sql/3.naka.sql

.pnpm-store
.wrangler
location

.claude
